{% extends 'base.html' %}

{% block title %}
Comments
{% endblock title %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-12 col-lg-10 offset-1">
            <div class="card">
                <div class="card-body">
                    {% if coms %}
                    <h2 class="text-center alert alert-info">See the comments</h2>
                    <p class="text-danger">{{nCom}} comments are made</p>
                    {% for c in coms %}
                    {% if c.send == request.user.username %}
                    <p><b class="text-danger">
                            You :</b> {{c.client_comment}}</p>
                    {% else %}
                    <p><b class="text-danger">
                            {{c.send}} :</b> {{c.client_comment}}</p>
                    {% endif %}
                    
                    {% if c.send != request.user.username %}
                    </p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{c.id}}" role="button"
                        aria-expanded="false" aria-controls="collapseExample{{c.id}}">
                        Reply
                    </a>
                    <div class="collapse" id="collapseExample{{c.id}}">
                        <div class="card card-body">
                            <form action="" method="POST" novalidate>
                                {% if messages %}
                                {% for message in messages %}
                                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>
                                    {{message}}</p>
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <input type="hidden" value="{{c.send}}" name='sendName'>
                                {% for fm in forms %}
                                {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                                {% endfor %}

                                <div class="text-center">
                                    <input type="submit" value="Reply" class="btn btn-outline-primary w-100 my-3">
                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p class="text-center alert alert-danger">No comments sent to you by anyone</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}